.link {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s all linear;
}

.link:hover {
    color: rgb(100, 255, 255);
    transition: 0.2s all linear;
}

.link span{
    position: absolute;
    display: block;
}

.link span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, aqua);
}
.link:hover span:nth-child(1){
    left: 100%;
    transition: 0.48s;
}

.link span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, aqua);
}
.link:hover span:nth-child(3){
    right: 100%;
    transition: 0.48s;
    transition-delay: 0.24s;
}

.link span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, aqua);
}
.link:hover span:nth-child(2){
    top: 100%;
    transition: 0.48s;
    transition-delay: 0.12s;
}

.link span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, aqua);
}
.link:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.48s;
    transition-delay: 0.36s;
}