.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

/*---Úvod---*/

.uvod {
  position: absolute;
  height: 100vh;
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nadpisHlavni {
  margin-top: 30vh;
}

.nadpis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 160px;
  transform: skew(-20deg);
  background-color: rgba(54, 54, 54, 0.5);
  transition: 0.3s ease-out;
}

.nadpisText {
  transform: skew(20deg);
  color: white;
  font-size: 40px;
  text-align: center;
  transition: 0.3s ease-out;
}

.registrace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 50px;
  transform: skew(20deg);
  margin-top: 20px;
  
  /*animace*/
  /*vysvětlení: background je na 200%, takže tam narvu 2 barvy pomocí linear-gradient a rozdělím to na 50% a 50%. Když na to najedu tak se to posune do leva a ta transition je tam, aby to bylo plynulý*/
  background: linear-gradient(to left, rgba(54, 54, 54, 0.5) 51%, rgba(0, 255, 255, 0.8) 49%) right;
  background-size: 205%;
  
  transition: 0.3s ease-out; /*tady to slouží při změnšení pod 950px, 750px ...*/
}

.registrace:hover {
  background-position: left;
}

.registrace:hover .registraceText{
  transition: all 0.3s ease;
  color: rgba(1, 1, 1, 1);
}

.registraceText {
  color: white;
  transform: skew(-20deg);
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease-out; 
}

.frame {
  margin-top: 20vh;
  height: 400px;
  width: 700px;
  perspective: 800px;
}

.img {
  height: 400px;
  width: 700px;
  transition: all 2s ease;
  animation: animace2 5s ease-in-out infinite;
}

@keyframes animace2 {
  0% {
    transform: rotateY(-27deg);
  }
  50% {
    transform: rotateY(-30deg);
  }
  100% {
    transform: rotateY(-27deg);
  }
}

.nadAnimace {
  height: 100vh;
}

/*---section---*/

.section {
  width: 100%;
}

.section1 {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 5vw;
  margin-top: 10vh;
}

.section1 h1 {
  color: white;
}

.section2 {
  background: #222;
  height: 500px;
  clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 420px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2Text {
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-top: 80px;
}

.section2Main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.deliciCara {
  height: 250px;
  width: 0px;
  border-left: 1px solid aqua;
  margin-top: 30px;
}

.section2Registrace {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.section2RegistraceText {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}

.section2Aplikace {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.section2AplikaceText {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}

.section3 {
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw;
}

.section3 h1 {
  font-size: 20px;
}

.section4 {
  height: 100px;
  background: #222;
  clip-path: polygon(0 80px, 100% 0, 100% 100%, 0% 100%);
}

/*Resposibilita*/

@media (max-width: 1500px) {

  .img {
    display: none;
  }

  .frame {
    display: none;
  }

  .uvod {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nadpisHlavni {
    margin: auto;
  }

}

@media (max-width: 950px) {
  
  .uvod {
    position: absolute;
    height: 750px;
  }
  
  .img {
    height: 750px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 670px);
  }

  .nadpisHlavni {
    top: 30%;
    width: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nadpis {
    width: 500px;
    height: 150px;
  }
  .nadpisText {
    font-size: 35px;
  }

  .registrace {
    width: 500px;
  }
  .registraceText {
    font-size: 20px;
  }

  .section1 h1 {
    font-size: 25px;
  } 

  .section2 {
    height: 600px;
    clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 520px);
  }

  .section2Text {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
  }

  .section2Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .deliciCara {
    height: 0px;
    width: 80vw;
    border-top: 1px solid aqua;
    margin-top: 0px; /*tohle tam musí být, aby to předsalo*/
  }

  .section2Registrace {
    margin-top: 40px;
    width: 100%;
  }

  .section2Aplikace {
    margin-top: 40px;
    width: 100%;
  }

}

@media (max-width: 600px) {

  .uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 600px;
  }

  .frame {
    margin-top: 0;
    display: inline-block;
    height: 200px;
    width: 400px;
    perspective: 800px;
  }
  
  .img {
    display: flex;
    height: 200px;
    width: 400px;
    transform: rotateX(10deg);
    animation: animace2 10s linear infinite;
  }

  @keyframes animace2 {
    25% {
      transform: rotateY(-10deg);
    }
    50% {
      transform: rotateX(-10deg);
    }
    75% {
      transform: rotateY(10deg);
    }
    100% {
      transform: rotateX(10deg);
    }
  }

  .nadpisHlavni {
    margin: 0;
    width: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nadpis {
    width: 400px;
    height: 140px;
  }
  .nadpisText {
    font-size: 30px;
  }

  .registrace {
    width: 400px;
    height: 40px;
  }
  .registraceText {
    font-size: 16px;
  }

  .section1 h1 {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 600px;
  }

  .frame {
    margin-top: 0;
    display: inline-block;
    height: 200px;
    width: 300px;
    perspective: 800px;
  }

  .img {
    display: flex;
    height: 200px;
    width: 300px;
    transform: rotateX(10deg);
    animation: animace2 10s linear infinite;
  }

  .nadpisHlavni {
    width: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nadpis {
    width: 300px;
    height: 100px;
  }
  .nadpisText {
    font-size: 22px;
  }

  .registrace {
    width: 300px;
    height: 35px;
  }
  .registraceText {
    font-size: 14px;
  }

  .section2 {
    height: 520px;
    clip-path: polygon(0% 80px, 100% 0%, 100% 100%, 0% 440px);
  }

  .section2Text {
    font-size: 25px;
  }

  .section2RegistraceText {
    font-size: 20px;
  }

  .section2AplikaceText {
    font-size: 20px;
  }
}